body{
margin:0;
font-family:Arial;
background:black;
color:white;
}

.topbar{
background:gold;
color:black;
text-align:center;
padding:8px;
font-weight:bold;
}

header{
display:flex;
justify-content:space-between;
padding:15px;
border-bottom:2px solid gold;
}

header h1{
color:gold;
text-shadow:0 0 10px gold;
}

.menu{
font-size:22px;
cursor:pointer;
}

#sidebar{
position:fixed;
left:-250px;
top:0;
width:250px;
height:100%;
background:#111;
padding:20px;
transition:0.3s;
}

#sidebar a{
display:block;
margin:10px 0;
color:white;
text-decoration:none;
}

.slider{
width:100%;
height:200px;
overflow:hidden;
}

.slide{
width:100%;
height:200px;
display:none;
}

.active{
display:block;
}

.intro{
text-align:center;
padding:15px;
}

.title{
text-align:center;
color:gold;
}

.products{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
padding:10px;
}

.card{
background:#111;
border:1px solid gold;
border-radius:10px;
padding:10px;
text-align:center;
}

.card img{
width:100%;
height:120px;
object-fit:cover;
border-radius:10px;
}

.price{
color:gold;
font-weight:bold;
}

button{
background:gold;
border:none;
padding:10px;
margin-top:5px;
width:100%;
border-radius:5px;
cursor:pointer;
}
